<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluguel de Veículo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Form.css') }}">
    <script>
        function mostrarCampos() {
            var tipoVeiculo = document.getElementById("tipo_veiculo").value;
            var combustivel = document.getElementById("campo_combustivel");
            var cilindrada = document.getElementById("campo_cilindrada");

            if (tipoVeiculo === "carro") {
                combustivel.style.display = "block";
                cilindrada.style.display = "none";
            } else if (tipoVeiculo === "moto") {
                combustivel.style.display = "none";
                cilindrada.style.display = "block";
            } else {
                combustivel.style.display = "none";
                cilindrada.style.display = "none";
            }
        }
    </script>
</head>

<body>
    <h1>Adicionar Veículo:</h1>

    <div class="container">
        <div class="botao-retorno">
            <a href="/"><button>Retornar</button></a>
        </div>

        <form method="POST" action="/adicionar_veiculo">
            <label for="tipo_veiculo">Tipo do Veículo:</label>
            <select id="tipo_veiculo" name="tipo_veiculo" onchange="mostrarCampos()" required>
                <option value="">Selecione...</option>
                <option value="carro">Carro</option>
                <option value="moto">Moto</option>
            </select>

            <label for="marca">Marca:</label>
            <input type="text" id="marca" name="marca" required>

            <label for="modelo">Modelo:</label>
            <input type="text" id="modelo" name="modelo" required>

            <label for="ano">Ano:</label>
            <input type="number" id="ano" name="ano" required>

            <label for="diaria">Valor da diária:</label>
            <input type="number" id="diaria" name="diaria" step="0.01" required>

            <!-- Campo de Combustível (somente para Carro) -->
            <div id="campo_combustivel" style="display: none;">
                <label for="combustivel">Combustível:</label>
                <input type="text" id="combustivel" name="combustivel">
            </div>

            <!-- Campo de Cilindrada (somente para Moto) -->
            <div id="campo_cilindrada" style="display: none;">
                <label for="cc">Cilindrada:</label>
                <input type="number" id="cc" name="cc">
            </div>

            <input type="submit" value="Adicionar Veículo">
        </form>
    </div>

    {% if mensagem %}
        <p>{{ mensagem }}</p>
    {% endif %}
</body>
</html>
