<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca - George Orwell</title>
</head>
<body>
    
    <div class="btn-back">
        <a href="/menu_principal" class="btn-back"><button>Retornar ao Menu</button></a>
    </div>

    <h1>Livros de George Orwell</h1>
    <div class="container">
        <ul>
            <li>1984</li>
            <li>A Revolução dos Bichos</li>
        </ul>

    </div>
</body>
</html>
