<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devolver Livro</title>
</head>
<body>
    <h1>Devolver Livro</h1>
    <div class="container">

        <div class="btn-back">
            <a href="/"><button class="btn-back">Retornar ao Menu</button></a>
        <div>

        <form action="/devolver_livro" method="POST">
            <label for="codigo_livro">Código do Livro:</label>
            <input type="text" id="codigo_livro" name="codigo_livro" required><br><br>

            <input type="submit" value="Devolver Livro">
        </form>

    </div>
</body>
</html>
