<!DOCTYPE html>
<html lang="pt-br">
</head>
<body>
    <h1>Lista de Livros na Biblioteca</h1>
    <div class="container">
        
        <div class="btn-back">
            <a href="/menu_principal" class="btn-back"><button>Retornar ao Menu</button></a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <!-- Linhas de livros geradas dinamicamente -->
                <tr>
                    <td>1</td>
                    <td>1984</td>
                    <td>George Orwell</td>
                    <td>Disponível</td>
                    <td><button>Apagar</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>O Senhor dos Anéis</td>
                    <td>J.R.R. Tolkien</td>
                    <td>Emprestado</td>
                    <td><button>Apagar</button></td>
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>
