<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal - Biblioteca</title>
</head>

<body>
    <div class="container">
        <h1>Biblioteca - Menu Principal</h1>
        <nav>
            <div class="btn">
                <a href="/adicionar_livro"><button>Adicionar Livro</button></a>
            </div>
            <div class="btn">
                <a href="/listar_livros"><button>Listar Livros</button></a>
            </div>
            <div class="btn">
                <a href="/listar_autores"><button>Listar Autores</button></a>
            </div>
            <div class="btn">
                <a href="/emprestar"><button>Registrar Empréstimo</button></a>
            </div>
            <div class="btn">
                <a href="/devolucao"><button>Registrar Devolução</button></a>
            </div>

        </nav>
    </div>
</body>
</html>
